{% extends "base.html" %}
{% load post_extras %}
{% block content %}

<div class="card m-4 p-2">

<div class="card-title">
        <h2>{{ post.title }}</h2>
</div>

<div class="row">
    <div class="col">

    {% include "post/post-byline.html" %}

    </div>
</div>

<div class="row">
    <div class="col">
        Content:   {{ post.content }}
    </div>
    <div class="col">
        Tags:
       {% for tag in post.tags.all %}
           <button type="button" class="btn btn-sm btn-outline-primary">{{tag}}</button>
       {% endfor %}
    </div>

</div>

<div class="row">
    <div class="col">
        {% for gallery in post.images.all %}
        <img class='img-thumbnail' src="{{ gallery.image.url }}"
        alt="Gallery image"
        style="height:100px; width:auto;">
       {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col">
        Created date: {{ post.created_at }}
    </div>
</div>

</div>

{% include "post/post-comments.html" %}

<div class="card m-4 p-2">
{% recent_posts post %}
</div>

{% endblock %}